<!DOCTYPE html>
<html>
<% include head %>
<body>
    <% include header %>
    <div class="container">
        <div id="index-content" class="row">
            <!-- <h1>POWER WHALE</h1> -->
            <div id="pixi-canvas" class="col-xs-12"></div>
        </div>
    </div>

    <% include footer %>

</body>

</html>